# .ebextensions/01_docker.config
option_settings:
  aws:elasticbeanstalk:application:environment:
    FLASK_ENV: "production"
    SECRET_KEY: "c7e59ae5b628a40051b40d2d35ac7d83e579c2707288d1df8345a2a0fa6df1af"
  aws:autoscaling:launchconfiguration:
    IamInstanceProfile: "aws-elasticbeanstalk-ec2-role"